{% load i18n %}
{% language "it" %}
<div style="font-size:10pt;line-height:15.3333320617676px;font-family:Arial,sans-serif">
<p>Salve,</p>

{%spaceless%}
<p>
{% if action == "names" %}
    {% if names|length == 1 %}
    Il nome della persona che usufruirà dell'accredito è
    {% elif names|length > 1 %}
    I nomi delle persone che usufruiranno degli accrediti sono
    {% endif %} <b>
        {% for name in names %}
        {{name}}{%if not forloop.last%}, {%endif%}
        {% endfor %}
    </b>.
{% elif action == "link" %}
    Vi invio 
    {% if podcast %}
    il link del podcast
    {% endif %}
    {% if podcast and article %}
    e
    {% endif %}
    {% if article %}
    il link dell'articolo
    {% endif %}
    riguardante l'evento del {{req.when}}. <br>
    <a href="{{link}}" target="_blank">{{link}}</a>
{% endif %}
</p>
{%endspaceless%}

<p>Grazie per la disponibilità, un caro saluto e buon lavoro.</p>

{{req.requested_by.first_name|capfirst}} {{req.requested_by.last_name|capfirst}}<br>
{{imap.organization}}.<br>
{{imap.org_url}}
<br>

{{msg.date}} &lt;{{msg.sender}}&gt;
<br>
&gt;{{quote|safe}}

--
<br>
{{imap.signature|safe}}
</div>
{% endlanguage %}
